.containers{
    width: 90%;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.policy-header {
    background-color: #6B8E23;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.policy-section {
    background-color: #d4edda;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}
.policy-section i{
    color: #4CAF50;
    font-size: 30px;
}
.list-unstyled i{
    font-size: 15px;
}
.handicon i{
    font-size: 15px;
    color: black;
}
.policy-section a{
    text-decoration: underline;
    color: blue;
}